* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    /* background-color: #6E777D; */
}

@font-face {
    font-family: 'Titillium_web';
    src: url(font/Titillium_Web/TitilliumWeb-Bold.ttf);
}

body {
    /* height: 8000px; */
    background-color: #f2f3f5;
    overflow-x: hidden;
}

html {
    font-family: 'Titillium_web';
}

.header-top {
    background-color: #f2f3f5;
    height: 62px;
    display: flex;
    justify-content: space-between;
}

.header-top .text-heading {
    margin-top: 12px;
    margin-left: 10px;
}

.header-bottom .text-heading:hover {
    color: #ff6600;
}

.header-bottom .text-heading {
    color: #0c0a0a;
}

.header-top .text-heading>span {
    color: #6E777D;
    font-size: 20px;
}

.header-menu {
    margin-right: 30px;
}

.single-menu {
    display: flex;
}

.single-menu li {
    list-style: none;
    margin-top: 12px;
}

.menu-item a {
    padding: 15px 9px;
    text-decoration: none;
    color: #6E777D;
    font-size: 22px;
}

.header-bottom {
    background-color: #f2f3f5;
    height: 115px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}

.header-logo {
    margin-left: 20px;
}

.header-maps {
    display: flex;

}

.header-icon {
    margin-top: 12px;
}

.header-icon>i {
    font-size: 26px;
    padding: 10px;
    background-color: #fff;
    border-radius: 180px;
    margin-right: 10px;
}

.header-email {
    display: flex;
}

.header-email i {
    font-size: 26px;
    background-color: #fff;
}

.sub-text {
    color: #878f94;
    font-size: 20px;
    font-weight: 600px;
}

.text-heading {
    font-size: 24px;
}

.header-button>button>a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

.header-button>button {
    width: 200px;
    height: 60px;
    background-color: #000;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.header-button>button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6600;
    z-index: -1;
    transition: height 0.2s ease-in;
}

.header-button>button:hover::before {
    height: 0;
}




.icon-mobile{
    display: none;
}
.menu-mobile{
    display: none;
}
.ti-menu{
    display: none;
}
.nav-menu {
    margin: 0px 20px;
    background-color: #ff6600;
    height: 66px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu {
    line-height: 64px;
    display: flex;
    margin-left: 25px;
    position: relative;
}

.menu>li {
    margin-right: 40px;
}

.menu>li>a:hover {
    color: #000;
}

.nav .menu-sub {
    background-color: #000;
    width: 250px;
    display: none;
    position: absolute;
}

.menu>li:hover .menu-sub {
    display: block;
    z-index: 1010;
}

.menu-sub>li {
    margin-left: 15px;
}

.menu-sub>li>a:hover {
    color: #ff6600;
}

.nav .ti-angle-down {
    font-size: 14px;
}

.menu ul.menu-sub ul.menu-sub1 {
    background-color: black;
    top: 20px;
    left: 250px;
    display: none;
}

.menu .drop-down:hover .menu-sub1 {
    display: block;
}

.menu ul.menu-sub ul.menu-shop {
    background-color: black;
    top: 400px;
    left: 250px;
    display: none;
}

.menu .drop-down:hover .menu-shop {
    display: block;
}

.menu ul.menu-sub ul.menu-services {
    background-color: black;
    top: 300px;
    left: 250px;
    display: none;
}

.menu .drop-down:hover .menu-services {
    display: block;
}

.nav-icon {
    position: absolute;
    right: 18px;
}

.nav-icon>i {
    line-height: 62px;
    color: #fff;
    font-size: 28px;
}

.nav-icon>.ti-search {
    margin-right: 20px;
}

.nav-search.open {
    display: block;
}

.nav-search {
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.nav-search>input {
    border-bottom: 1px solid black;
    margin-left: 50px;
    width: 90%;
    margin-top: 200px;
    height: 100px;
}

.nav-search>input::placeholder {
    font-size: 28px;
}

.nav-search>i {
    font-size: 28px;
}

.nav-search>.ti-close {
    position: absolute;
    right: 80px;
    top: 60px;
}

.nav-overlay.open {
    display: block;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
}

.nav-shop.open {
    display: block;
}

.nav-shop {
    z-index: 2;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    float: right;
    display: none;
    animation: identifier linear 1.8s;
}

.nav-shop>h3 {
    margin: 50px 20px;
    font-size: 20px;
}

.nav-shop>.ti-close {
    position: absolute;
    right: 20px;
    top: 76px;
}

.nav-shop>p {
    margin: 0px 20px;
    color: #77777d;
    font-size: 16px;
}

.services {
    background-color: #f2f3f5;
}

.services-heading {
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.services-heading>.sub-text>h5 {
    color: #ff6600;
}

.services-heading>.text>h1 {
    font-size: 38px;
}

.services-content {
    display: flex;
    justify-content: space-between;
}

.services-item {
    margin: 0px 25px;
    background-color: #fff;
    width: 480px;
    height: 600px;

}

.services-img>img {
    width: 480px;
    height: 359px;
}

.services-img {
    overflow: hidden;
    position: relative;
}

.services-img>span {
    background-color: #ff6600;
    color: #fff;
    padding: 30px 30px 30px 30px;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 32px;
}

.services-img>img:hover {
    transition: 0.8s ease-in-out;
    transform: scale(1.1);
}

.services-text {
    margin-left: 40px;
    margin-top: 20px;
}

.services-text>a {
    text-decoration: none;
}

.services-text>a>h1 {
    color: #000;
}

.services-text>a>h1:hover {
    color: #ff6600;
}

.services-text>p {
    color: #6e777d;
    font-size: 18px;
    font-weight: 100;
}

.services-button>button {
    margin-left: 40px;
    margin-top: 20px;
    background-color: #000;
    padding: 22px 30px;
    z-index: 1;
}

.services-button>button>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.services-button>button {
    position: relative;
}

.services-button>button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff6600;
    transition: height 0.2s ease-in;
    z-index: -1;
}

.services-button>button:hover::before {
    height: 0;
}

.content {
    margin-top: 120px;
    display: flex;
    background-color: #fff;
}

.content>.content-img>img {
    width: 800px;
    height: 900px;
}

.content-text {
    margin: 60px 0px 0px 120px;
}

.content-text>.sub-text {
    color: #ff6600;
    margin-bottom: 20px;
}

.content-text>.title-text {
    font-size: 42px;
}

.menu-text {
    margin: 50px 0px;
    width: 600px;
    height: 100px;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text>li {
    list-style: none;
    margin-right: 40px;

}

.menu-text>li>button {
    color: #0c0a0a;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
}

.content-text>.text {
    color: #6E777D;
    font-size: 18px;
    margin-right: 50px;
}

.content>.content-img {
    position: relative;
}

.title>h2 {
    color: #f2f3f5;
    font-size: 27px;
    line-height: 30px;
    margin: 25px 40px;
}

.title-link>a {
    text-decoration: none;
}

.title-link>a>span:hover {
    color: #ff6600;
}

.title-link>a>span {
    color: #fff;
    margin: 20px 20px 20px 40px;
    font-size: 22px;
}

.title-link>a>.ti-arrow-right {
    color: #fff;
    background-color: #ff6600;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}

.title {
    background-color: #000;
    position: absolute;
    bottom: 6px;
    height: 200px;
    width: 500px;
}

.tab-number {
    margin-right: 40px;
}

.tab-number>div {
    color: #ff6600;
    font-size: 70px;
}

.tab-number>span {
    font-size: 20px;
}

.tab-content {
    display: flex;
}

.text-item {
    margin-top: 20px;
    display: flex;
}

.text-item>i {
    margin-right: 10px;
    color: #fff;
    background-color: #ff6600;
    padding: 12px 12px 0px 12px;
    border-radius: 180px;
    font-weight: bold;
}

.text-item>.text-heading {
    color: #0c0a0a;
    font-weight: 100 !important;
}

.tabContent {
    display: none;
}

.active {
    display: block;
}

.start-button>button {
    margin-top: 50px;
    background-color: #ff6600;
    padding: 22px 35px;
    z-index: 1;
}

.start-button>button>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.start-button>button {
    position: relative;
}

.start-button>button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: height 0.2s ease-in;
    z-index: -1;
}

.start-button>button:hover::before {
    height: 0;
}

.banner-img {
    position: relative;
}

.nav {
    position: absolute;
    right: 0;
    left: 0;
}

.banner-tab {
    background-color: #fff;
    width: 65%;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img img {
    width: 100%;
    height: 850px;
}

.banner-tab>li {
    list-style: none;
    margin: 100px;
    font-size: 16px;
}

.banner-tab>li:hover {
    cursor: pointer;
}

.tabSlider {
    display: none;
}

.hien {
    display: block;
    /* border-bottom: 1px solid black; */
}

.banner-text {
    position: absolute;
    top: 200px;
    left: 2px;
}

.banner-text-heading {
    color: #fff;
    margin-left: 20px;
    width: 50%;
}

.banner-text-heading>h1 {
    font-size: 80px;
}

.banner-sub-text {
    margin-left: 20px;
}

.banner-text {
    animation: start 1.8s;
}

.banner-sub-text {
    color: #fff;
    display: flex;
}

.text-phone {
    display: flex;
    margin-left: 20px;
}

.text-phone>.ti-mobile {
    padding: 20px 20px 0px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #ff6600;
    border-radius: 180px;
    margin-right: 20px;
}

.text-phone>p {
    font-size: 20px;
}

@keyframes start {
    from {
        opacity: 0;
        top: 250px;
    }

    to {
        top: 200px;
        opacity: 1;
    }
}

.slider {
    margin: 120px 20px 20px 20px;
}

.slider-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.slider-button>.header-button>button {
    width: 270px;
}

.slider-img {
    font-family: Arial;
    display: block;
    margin: 0 auto;
}

.slider-img img {
    color: #3498db;
    font-size: 36px;
    width: 550px;
    padding: 0px 40px;
    position: relative;
    text-align: center;
    height: 414px;
}

.slider-img img:hover {
    transition: all 0.6s ease-in-out;
    transform: scale(1.1);
}

.address {
    background-color: #ff6600;
    height: 250px;
    margin: 150px 0px;
}

.address-content {
    display: flex;
    margin: 0px 25px;
}

.address-time {
    background-color: #000;
    width: 33%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-time>.ti-mobile {
    font-size: 48px;
    color: #fff;
    margin-right: 10px;
}

.address-time>.text>.text-heading {
    color: #fff;
    font-size: 18px;
}

.address-time>.text>.sub-text {
    color: #fff;
    font-size: 28px;
}

.address-phone {
    background-color: #ff6600;
    width: 33%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-phone>.ti-mobile {
    font-size: 48px;
    color: #fff;
    margin-right: 10px;
}

.address-phone>.text>.text-heading {
    color: #fff;
    font-size: 18px;
}

.address-phone>.text>.sub-text {
    color: #fff;
    font-size: 28px;
}

.address-maps {
    background-color: #000;
    width: 33%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-maps>.ti-map-alt{
    font-size: 48px;
    color: #fff;
    margin-right: 10px;
}

.address-maps>.text>.text-heading {
    color: #fff;
    font-size: 18px;
}

.address-maps>.text>.sub-text {
    color: #fff;
    font-size: 28px;
}

.title-info {
    text-align: center;
    margin-bottom: 30px;
}

.title-text-sub {
    color: #ff6600;
}

.title-text {
    font-size: 40px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0px 25px;
}

.info-item {
    height: 700px;
    background-color: #fff;
    position: relative;
}

.info-img {
    overflow: hidden;
    margin: 0 auto;
    width: 85%;
}

.info-img>img {
    width: 85%;
    margin: 35px 35px 0px 35px;
    height: 500px;
}

.info-name {
    width: 85%;
    height: 140px;
    margin: 20px 35px 0px 35px;
    background-color: #fff;
    transition: all .8s ease-in-out;
    position: absolute;
    bottom: 0;

}

.info-name>p {
    text-align: center;
    font-size: 24px;
}

.info-sub {
    width: 85%;
    height: 140px;
    margin: 20px 35px 0px 35px;
    position: absolute;
    bottom: -160px;
    /* display: none; */
}
.info-email{
  background-color: #f2f3f5;
  width: 260px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.info-email>p{
    font-weight: 100;
 
}
.info-phone{
  background-color: #f2f3f5;
  width: 260px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 60px;
}
.info-sub>.info-email {
    font-size: 24px;
    display: flex;
    justify-content: center;
    border-radius: 60px;
}
.info-sub>.info-email p{
   margin-top: 5px;
}
.info-sub .phone{
  font-weight: 100;
}

.info-sub>.info-phone {
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.info-item i{
    margin-right: 10px;
    background-color: #ff6600;
    padding: 12px 12px 0px 12px;
    color: #fff;
    border-radius: 180px;
}

.info-item:hover .info-sub {
    transition: all 0.4s ease-in-out;
    display: block;
    bottom: 0;
}

.info-item:hover .info-name {
    transition: all 0.4s ease-in-out;
    bottom: 120px;
}

.info-item:hover .info-img>img {
    transition: all 0.8s ease-in-out;
    transform: scale(1.02);
}

.section{
    background-image: url(/img/counter-bg.webp);
    height: 790px;
    margin-top: 100px;
}
.section-title{
    padding: 120px 0px 30px 0px;
    width: 45%;
}
.section-title>p{
    color: #ff6600;
    font-size: 24px;
}
.section-title>h1{
    color: #fff;
    font-size: 42px;
}
.section-content{
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
}
.section-item{
    width: 350px;
    height: 350px;
    background-color: #ff6600;
}
.section-item>img{
  padding: 28px;
  background-color: #fff;
  border-radius: 180px;
  margin: 50px 0px 20px 50px;
}
.section-item>div{
    color: #fff;
    margin: 0px 0px 10px 50px;
    font-size: 38px;
}
.section-item>p{
    color: #fff;
    font-size: 18px;
    margin: 0px 0px 10px 50px;
}
.trasted-client{
    /* margin-top: 790px; */
    background-color: #fff;
    height: 700px;
    position: relative;
}
.trasted-client>.trasted-title{
    padding: 120px 0px 20px 120px;
}
.trasted-client>.trasted-title>p{
    color: #000;
    font-size: 36px;
    width: 380px;
}
.trasted-box{
    padding: 20px 0px 50px 160px;
}
.trasted-img{
    position: relative;
    margin-right: 140px;
}
.trasted-img>.number{
    position: absolute;
    bottom: -20px;
}
.trasted-item{
    display: flex;
}

.trasted-text>.text{
    margin-right: 120px;
    font-size: 36px;
    color: #0c0a0a;
}

.trasted-text>.sub-text{
    margin-top: 20px;
    color: #ff6600;
    font-size: 24px;
}
.trasted-button{
    position: absolute;
    right: 50px;
    background-color: #ff6600;
}
.trasted-button>button{
    font-size: 32px;
    color: #fff;
  padding: 20px 30px;
  background-color: #ff6600;
}
.trasted-button>button:hover{
  background-color: #000;
}
.latest-blog{
    margin: 0px 20px;
}
.latest-title{
    text-align: center;
    margin: 120px 0px 40px 0px;
}
.latest-title>h3{
   color: #ff6600;
   font-size: 18px;
}
.latest-title>h1{
    font-size: 38px;
 }
 .latest-content{
    display: flex;
    justify-content: space-between;
   
 }
 .latest-item{
    width: 32%;
    background-color: #fff;
    height: 800px;
 }
 .latest-img{
 position: relative;
 overflow: hidden;

 }
.latest-img>img{
    width: 100%;
    transition: all 0.6s ease-in-out;
}
.latest-img>img:hover{
  transform: scale(1.2);  
}

.latest-button>button {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

.latest-button>button {
    width: 200px;
    height: 60px;
    background-color: #ff6600;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.latest-button>button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    transition: height 0.2s ease-in;
}

.latest-button>button:hover::before {
    height: 0;
}
.button-sub>button{
    background-color: #ff6600;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 18px;
    font-size: 18px;
}
.latest-text{
  margin: 40px 0px 20px 40px;
  font-size: 20px;
}
.latest-text p{
    color: #969790;
    margin-bottom: 10px;
  }
.latest-text span{
    margin: 20px 0px 20px 0px;
    font-size: 22px;
  }

  .latest-button{
    margin: 60px 0px 20px 40px;
  }

  .footer{
    background-color: #000;
    height: 900px;
    margin-top: 100px;
  }
  .footer-top{
    display: flex; 
    /* justify-content: space-between; */
    padding: 120px 10px 20px 40px;
  }
  .footer-logo{
    margin-right: 100px;
  }
  .footer-logo>img{
   font-size: 44px;
   height: 70px;
  }
  .footer-text{
    color: #fff;
    font-size: 36px;
    margin-right: 60px;
  }
  form>input{
    width: 400px;
    height: 70px;
    background-color: #1a1a1a;
    border: none;
  }
  
  form>input::placeholder{
    font-size: 18px;
    padding-left: 20px;
  }

  form>button{
    padding: 23px 30px;
    color: #fff;
    font-size: 18px;
    background-color: #ff6600;
  }

.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    margin: 200px 0px 80px 15px;
    width: 18%;
}
.footer-item>p{
    color: #6e777d;
    font-size: 20px;
    margin: 20px 0px 40px 0px;
}
  .footer-item>h1{
    color: #fff;
  }
  .footer-item>i{
    color: #fff;
    padding: 20px;
    border: 1px solid #6E777D;
    margin-right: 10px;
  }
  .footer-menu{
    margin-top: 20px;
  }

  .footer-menu li{
    color: #6e777d;
    list-style: none;
    font-size: 22px;
    margin: 10px 0px;
  }
   .footer-menu i{
    color: #6e777d;
    margin-right: 15px;
  }
  .footer-menu .holine{
     padding: 5px;
     background-color: #ff6600;
     color: #fff;
  }
  .footer-menu>li{
    display: flex;
  }


 .footer-popular>img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
 }
 .footer-popular{
    margin: 20px 20px 20px 0px;
    display: flex;
 }
  .footer-popular p{
     color: #6E777D;
 }
  .footer-popular span{
    color: #fff;
    font-size: 20px;
 } 
  .footer-popular button{
    margin-top: 20px;
   background-color: #000;
   font-size: 16px;
   color: #ff6600;
 }
 .footer-menu>li:hover{
    color: #ff6600;
 }
 .footer-item>i:hover{
    background-color: #ff6600;
 }
.footer-contact{
    background-color: #171717;
    height: 100px;
}
.footer-contact>p{
    text-align: center;
    line-height: 100px;
    color: #6E777D;
    font-size: 18px;
}
.footer-contact a{
    color: #ff6600;
    text-decoration: none;
}